body {
    font-family: "Kamit", sans-serif;
    background-color: #1b1b32;
    

}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track{
    background-color: #000000;
}
body::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}
.boton {
    background-color: #11113a;
    color: #fff;
    
    border: 1px solid #11113a;
    border-radius: 100px;
    transition: all .2s  ease;
    padding: 10px 10px 10px 10px;
}
.boton:hover {
    background-color: #fff;
    color: #0088cc;
}
.buta {
    background-color: white;
 color: rgb(0, 0, 0);
 border-radius: 100px;
 padding: 5px 5px;
 margin: 0 auto;



   
}
h1, p {
    color: white;
}
h1, input, .PE {
    text-align: center;
}
.site, .tab {
    font-family: "Kanit", sans-serif;
    padding: 0 60px;
    white-space: nowrap;

}

h4, h5 {
    color: white;
    margin: 0 5px;
}
.di p{
    display: inline-block;
    

}
.p {
    text-align: left;
    width: 75%;
    
}
.re {
    text-align: right;
    width: 25%;
    
}
hr {
    height: 2px;
    background-color: #fff;
    color: white;
}
legend {
    font-family: "Kamit", sans-serif;
    font-size: small;
    color: white;
}
.tab {
    color: grey;
}
.tab:visited {
    color: grey;
}
.tab:hover {
    color:#b669ff
}
.tab:active {
    color: #b669ff
}
.tabela {
    font-family: "Kanit", sans-serif;
    padding: 0 60px;
   
  
}
h2 {
    font-family: "Kanit",sans-serif;
    color: white;
}
.aga1 {
    font-family: "Kanit", sans-serif;
    font-size: 40px;
}
.bang {
    text-align:center;
}
.ca, .li {
    display: inline-block;
    margin: 0 15px;
}
.obs {
    padding: -10px 0;
}
.lin {
    text-decoration: none;
    color: white;
}
.haha {
    width: 90%;
    padding: 10px 10px;
    background-color: #050513;
    margin: 0 auto;
    border-radius: 40px;
    min-width: 500px;
    white-space: nowrap;
}
.tabel {
        margin-left: -65px;

    font-size: medium;
    white-space: nowrap;

}
.a {
  text-decoration: none;
  white-space: nowrap;
}
.a {
    color: grey;
}
.a:visited {
    color: grey;
}
.a:hover {
    color:#b669ff
}
.a:active {
    color: #b669ff
}
fieldset {
    border-radius: 30px;
    min-width: 95%;
}
.woww {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
}
